#sample-btn button {
    background-color: #ededed;
    border: 1px solid #bbbbbb;
    font-size: 15px;
    height: 50px;
    cursor: pointer;
}

#sample-btn button:hover {
    color: #BF0000;
    border-bottom-width: 2px;
}

svg.dmak-svg {
    border: 1px solid #000;
    margin-right: 1px;
}

#konnichiha,
#sekai {
    margin-top: 30px;
}


.kanji-wrapper {
    position: fixed;
    top: 100px;
    bottom: 100px;
    z-index: 99;
    right: 50px;
    overflow: auto;
}

.meanings-wrapper {
    position: fixed;
    top: 100px;
    bottom: 100px;
    left: 50px;
    z-index: 99;
    max-width: 300px;
    overflow: auto;
}

.search-wrapper {
    position: fixed;
    z-index: 99;
    left: 50px;
    right: 50px;
    width: -webkit-fill-available;
    background-color: #fff;
    padding-top: 5px;
}

.col-8 .text-start {
    width: fit-content;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .kanji-wrapper {
        position: unset;
        margin-top: 150px;
        margin-left: 50px;
    }

    .meanings-wrapper {
        position: fixed;
        top: 170px;
        left: 0;
        right: 0;
        max-width: -webkit-fill-available;
        background-color: #fff;
        z-index: 99;
    }

    #konnichiha,
    #sekai {
        margin-top: 200px;
    }

    #sample-btn{
        min-height: 130px;
    }
}

@media (max-width: 992px) {
    .kanji-wrapper {
        position: unset;
        margin-top: 150px;
        margin-left: 50px;
    }

    .meanings-wrapper {
        position: fixed;
        top: 170px;
        left: 0;
        right: 0;
        max-width: -webkit-fill-available;
        background-color: #fff;
        z-index: 99;
    }

    #konnichiha,
    #sekai {
        margin-top: 200px;
    }

    #sample-btn{
        min-height: 130px;
    }
}