html,
body {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 16px;
}

.h-10 {
    height: 10% !important;
}

.h-15 {
    height: 15% !important;
}

.h-20 {
    height: 20% !important;
}

.h-30 {
    height: 30% !important;
}

.h-30v {
    height: 30vh !important;
}

.h-40v {
    height: 40vh !important;
}


.h-35 {
    height: 35% !important;
}

.h-40 {
    height: 40% !important;
}

.h-45 {
    height: 45% !important;
}

.h-55 {
    height: 55% !important;
}

.h-60 {
    height: 60% !important;
}

.h-65 {
    height: 65% !important;
}

.h-70 {
    height: 65% !important;
}

.h-80 {
    height: 80% !important;
}

.h-85 {
    height: 85% !important;
}

.h-90 {
    height: 90% !important;
}

.h-95 {
    height: 95% !important;
}

.overflow-y-scroll::-webkit-scrollbar {
    display: none;
}

.h-100v {
    height: 100vh !important;
}

.h-90v {
    height: 90vh !important;
}

.h-95v {
    height: 95vh !important;
}

.kanji {
    height: 109px;
    width: 109px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.mh-660 {
    height: 660px !important;
}

.mw-350 {
    min-width: 350px !important;
}

.h-350px {
    height: 350px !important;
}

.h-125px {
    height: 125px !important;
}

.option-wrapper {
    height: 100px !important;
    flex-wrap: nowrap;
}

.h-720px {
    height: 720px !important;
}

.h-185px {
    height: 185px !important;
}

.h-250px {
    height: 250px !important;
}

.w-fit {
    width: fit-content !important;
}

.h-60px {
    height: 60px !important;
}

.h-100v-60 {
    height: calc(100vh - 60px) !important;
}

.mean-center {
    margin: 0 auto;
}

.mw-500 {
    min-width: 500px !important;
}

.mw-600 {
    min-width: 600px !important;
}

.mw-175 {
    min-width: 175px !important;
}

.mw-1300px {
    min-width: 1300px !important;
}

.fast .toggle-group { 
    transition: left 0.3s; -webkit-transition: left 0.3s; 
}