.w-fit {
    width: fit-content;

}
.h-fit {
    height: fit-content;

}
.modal-header {
    cursor: move;
}

/* Điều chỉnh modal cho iframe */
.modal-content {
    width: 425px;
    /* Kích thước cố định cho modal */
    height: 300px;
    /* Kích thước cố định cho modal */
}

#drawKanjiModal,#imageCropModal {
    /* Các thuộc tính CSS hiện tại */
    pointer-events: none;  
    z-index: 1000;
}
#drawKanjiModal .modal-content,#imageCropModal .modal-content > * { 
    pointer-events: auto;
}


/* Loại bỏ nền bên ngoài */
.modal {
    background: transparent; 
}

html,
body {
    height: 100%;
    overflow-x: hidden;
    /* Ẩn thanh cuộn ngang cho body */
}

.sticky-header {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
}

/* Ẩn tất cả thanh cuộn */
::-webkit-scrollbar {
    display: none;
}

/* Basic table styling - adjust as needed */
table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

/* Fix the thead */
thead {
    position: sticky;
    top: 0;
    background-color: white;
    /* Match your table background */
    z-index: 1;
    /* Ensure thead stays on top */
}

/* Trong file style.css hoặc thẻ <style> trong HTML */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Điều chỉnh màu sắc và độ trong suốt tùy ý */
    z-index: 999;
    /* Đảm bảo lớp phủ nằm trên tất cả các phần tử khác */
    display: none;
    /* Ẩn lớp phủ mặc định */
}

.overlay.active {
    display: block;
    /* Hiển thị lớp phủ khi cần */
}



/* Style the container for positioning */
.results-container {
    position: relative;
    /* Allow positioning child elements */
}

.btn-active {
    transform: scale(1.1);
    /* Phóng to nút được chọn */
    background-color: #4285f4;
    /* Thay đổi màu nền */
    color: white;
    /* Thay đổi màu chữ */
}