html,
body {
    height: 100%;
    overflow-x: hidden;
    /* Ẩn thanh cuộn ngang cho body */
}

.sticky-header {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
}

/* Ẩn tất cả thanh cuộn */
::-webkit-scrollbar {
    display: none;
}

/* Basic table styling - adjust as needed */
table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

/* Fix the thead */
thead {
    position: sticky;
    top: 0;
    background-color: white;
    /* Match your table background */
    z-index: 1;
    /* Ensure thead stays on top */
}